.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
